<footer class="site-footer">
  <div class="footer-top">
    <div class="hits-button" style="text-align: right; display: block; "><a href="https://hits.seeyoufarm.com"> <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fkryptc.github.io&count_bg=%230FB214&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=true"/> </a> </div>
    <!-- <br/> -->
    <div class="offsite-links">
      {% if site.footer.has_social %}
        {% include social.html %}
      {% endif %}
    </div><!-- .offsite-links -->
  </div>
  <div class="footer-bottom">
    <div class="site-info">
      {{ site.footer.content | markdownify }}
    </div><!-- .site-info -->
    <a href="#page" id="back-to-top" class="back-to-top"><span class="screen-reader-text">Back to the top </span>&#8593;</a>
  </div><!-- .footer-bottom -->
</footer><!-- .site-footer -->
